# MÃ³dulo 32 â€“ ProfissÃ£o Analista de Dados | EBAC
### Aluna: Catherine Paula Chitolina Cornelio

---

## âœ… Objetivo
Executar consultas no AWS Athena com filtros, curingas e seleÃ§Ã£o condicional, utilizando a tabela `transacoes`.

---

### ðŸ”¹ Consulta 1

In [ ]:
SELECT *
FROM transacoes
WHERE valor > 30 AND id_loja = 'magalu';

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query1.csv` aqui.

### ðŸ”¹ Consulta 2

In [ ]:
SELECT *
FROM transacoes
WHERE valor > 30 OR id_loja = 'magalu';

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query2.csv` aqui.

### ðŸ”¹ Consulta 3

In [ ]:
SELECT *
FROM transacoes
WHERE id_loja IN ('magalu', 'subway') AND valor > 10;

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query3.csv` aqui.

### ðŸ”¹ Consulta 4

In [ ]:
SELECT *
FROM transacoes
WHERE valor BETWEEN 60.0 AND 1000.0;

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query4.csv` aqui.

### ðŸ”¹ Consulta 5

In [ ]:
SELECT *
FROM transacoes
WHERE id_loja LIKE 'mag%';

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query5.csv` aqui.

### ðŸ”¹ Consulta 6

In [ ]:
SELECT *
FROM transacoes
WHERE id_loja LIKE '%sh%';

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query6.csv` aqui.

### ðŸ”¹ Consulta 7

In [ ]:
SELECT id_cliente, id_loja, valor,
  CASE
    WHEN valor > 1000 THEN 'Compra com alto valor'
    WHEN valor < 1000 THEN 'Compra com baixo valor'
  END AS classeValor,
  CASE
    WHEN id_loja IN ('giraffas','subway') THEN 'alimentacao'
    WHEN id_loja IN ('magalu','extra') THEN 'variedade'
    WHEN id_loja IN ('postoshell','seveneleven') THEN '24horas'
    ELSE 'outros'
  END AS tipo_compra
FROM transacoes;

ðŸ“Ž **Resultado:** FaÃ§a o upload do arquivo `query7.csv` aqui.

In [ ]:
import os

# Lista todos os arquivos .csv enviados para o ambiente
for file in os.listdir():
    if file.endswith(".csv"):
        print(file)

query3.csv
query4.csv
query2.csv
query7.csv
query1.csv
query6.csv
query5.csv

In [ ]:
import os

print("Arquivos CSV presentes no ambiente:\n")
for file in os.listdir():
    if file.endswith(".csv"):
        print("ðŸ“", file)

Arquivos CSV presentes no ambiente:

ðŸ“ query3.csv
ðŸ“ query4.csv
ðŸ“ query2.csv
ðŸ“ query7.csv
ðŸ“ query1.csv
ðŸ“ query6.csv
ðŸ“ query5.csv

---

## âœ… ConclusÃ£o

Todas as consultas foram executadas no AWS Athena com sucesso, e os resultados exportados em arquivos `.csv`, conforme solicitado pela atividade prÃ¡tica do MÃ³dulo 32 da EBAC.